.container {
    max-width: 80%;
    margin: 30px auto;
    padding: 50px;
    background: rgb(238, 238, 238);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bolder;
}